
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 body{
    background-color: #252b42;
    
 }
    
    
    





header{
    display: flex;
    justify-content: space-between;
    
    color: #fff;
    background-color: #252b42;
    
    

    
}

.logo, .top-menu{
    display: inline-block;
    margin-right: 35px
}

.top-menu li{ 
    display: inline-block;
    list-style: none;
    height: 10px;
width: 43px;
 margin-left: 23px;
 margin-top: 30px;

     
     
     
}

.top-menu a{
font-size: 14px;
font-weight: 700;
color:  rgba(255, 255, 255, 1); 
  
  

   
       
}

.logo h3 {
font-size: 24px;
margin-left: 130px;
color:#fff;
margin-top: 10px;


}

a{
    text-decoration: none;
}

.button-1{
    height: 52px;
width: 137px;
border-radius:  5px; ;
background: rgba(35, 166, 240, 1);
  margin-left: 60px;
  margin-top: 20px;
  color:  rgba(255, 255, 255, 1);
   margin-right: 160px;
   padding: 0;
   border: none;
   


}

.button-img{
    height: 10px;
width: 12px;
 margin-left: 15px;
 
    
}

.text-h4{
    height: 160px;
 width: 540px;
font-size: 58px;
margin-top: 10px; 
margin-left: 110px;
color: #fff;


}

.Welcome{
    height: 24px;
 margin-top: 130px; 
 margin-left: 113px;
 color:  rgba(35, 166, 240, 1);
   
}



    
  
.text-1{
    height: 70px;
    font-size: 20px;
    margin-left: 110px;
    margin-top: 10px;
    color: #fff;
     

}
   
 


.button-2{
    height: 52px;
width: 193px;
background-color: rgba(35, 166, 240, 1);
color: #fff; 
margin-left: 90px;
margin-top: 20px;
padding: 0;
border: none;


}

.button-3{
    background: rgba(37, 43, 66, 1);
    border: 1px solid #23a6f0;
    color:  #23a6f0; 
    border-radius: 3px;
    width: 163px;
    height: 50px;
    margin-left: 3px;
    

    
    

    


     
    

    
}






.login {
width: 41px;
font-size: 14px;
font-weight: 700;
line-height: 20px;
  padding-left: 100px;
  margin-top: 30px;
  margin-left: 160px;
  

}

