
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 body{
    background-color: #252b42;
    
 }
    
    
    





header{
    display: flex;
    justify-content: space-between;
    
    
    background-color: #252b42;
    
    

    
}

.logo, .top-menu{
    display: inline-block;
    margin-right: 35px
}

.top-menu li{ 
    display: inline-block;
    list-style: none;
    height: 10px;
width: 43px;
 margin-left: 23px;
 margin-top: 30px;

     
     
     
}

.top-menu a{
font-size: 14px;
font-weight: 700;
color:  rgba(255, 255, 255, 1); 
  
  

   
       
}

.logo h3 {
font-size: 24px;
margin-left: 130px;
color:#fff;
margin-top: 10px;


}

a{
    text-decoration: none;
}

.button-1{
    height: 52px;
width: 137px;
border-radius:  5px; ;
background: rgba(35, 166, 240, 1);
  margin-left: 60px;
  margin-top: 20px;
  color:  rgba(255, 255, 255, 1);
   margin-right: 160px;
   padding: 0;
   border: none;
   font-size: 14px;
   cursor: pointer;
   


}

.button-img{
    height: 10px;
width: 12px;
 margin-left: 15px;
 
    
}

.text-h4{
    height: 160px;
 width: 540px;
font-size: 58px;
margin-top: 10px; 
margin-left: 110px;
color: #fff;


}

.Welcome{
    height: 24px;
   margin-top: 130px; 
 margin-left: 113px;
 color:  rgba(35, 166, 240, 1);
   
}



    
  
.text-1{
    height: 70px;
    font-size: 20px;
    margin-left: 110px;
    color: #fff;
    font-weight: 700;
     

}
   
 


.button-2{
    height: 52px;
width: 193px;
background-color: rgba(35, 166, 240, 1);
color: #fff; 
margin-left: 90px;
margin-top: 20px;
padding: 0;
border: none;
cursor: pointer;


}

.button-3{
    background: rgba(37, 43, 66, 1);
    border: 1px solid #23a6f0;
    color:  #23a6f0; 
    border-radius: 3px;
    width: 163px;
    height: 50px;
    margin-left: 3px;
    cursor: pointer;
    

    
    

    


     
    

    
}


    







.login{
width: 41px;
font-size: 14px;
font-weight: 700;
line-height: 20px;
  padding-left: 100px;
  margin-top: 40px;
  margin-left: 165px;
  color: #fff;
     

  

}





.title{
    height: 768px;
}

.title-text{
    height: 24px;
color: #23a6f0;
margin-top :50px;
margin-left: 40px;


}

.text-2{
    height: 50px;
 color: rgba(255, 255, 255, 1);
 margin-left: 40px;
 margin-top: 5px;
 font-size: 30px;
 

 
}

.text-3{
    margin-left: 30px;
    color: #fff;
    
    
      
}

.contenier{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}



.cards{
    width: 230px;
    height: 292px;
    padding: 35px 40px 35px 40px;
    background: rgba(255, 255, 255, 1);
    margin: 30px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    margin-top: 40px;
    
    
    



}

.card-img img{
  margin-top: 20px;
  margin-left: 20px;

}

.square{
    width: 70px;
    height: 76px;
    background: rgba(231, 64, 64, 1);
    border-radius: 10px;
    
    
    
    

}

.card-body h5{
    
    
    font-size: 16px;
    line-height: 24px;
    
    margin-top: 15px;

}

.underlineblock{
    width: 50px;
    border-top: 2px solid #e74040;
    margin-top: 20px;
    padding-top: 10px;
}

.card-body p{
    width: 132px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(115, 115, 115, 1);
    margin-top: 10px;

    

}

.cards-1{
    width: 230px;
    height: 292px;
    padding: 35px 40px 35px 40px;
    background: rgba(255, 255, 255, 1);
    margin: 30px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    margin-top:10px;
}

.cards-2{
    width: 230px;
    height: 292px;
    padding: 35px 40px 35px 40px;
    background: rgba(255, 255, 255, 1);
    margin: 30px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    margin-top: 40px; 
    margin-right: 10px;
    
}

.cards-3{
    width: 230px;
    height: 292px;
    padding: 35px 40px 35px 40px;
    background: rgba(255, 255, 255, 1);
    margin: 30px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    margin-top: 10px;
}

.title-2{
    height: 768px;
    
    
    
    
}

.title-text-2{
    height: 24px;
    color: #23a6f0;
    margin-top :60px;
    margin-left: 40px;
}

.text-h2{
    height: 50px;
    color: rgba(255, 255, 255, 1);
     margin-left: 40px;
     margin-top: 5px;
     font-size: 40px;

}

.text-paragrhap{
    color: #fff;
    margin-left: 30px;
    
    
}
 



.title-4{
}  

.title-text-4{
    height: 24px;
    margin-top :60px;
    margin-left: 40px;
    color: #23a6f0;

}

.text-h2-4{
    height: 50px;
    color: rgba(255, 255, 255, 1);
     margin-left: 40px;
     margin-top: 5px;
     font-size: 40px;
     width: 700px;
}

.paragrhap-text-4 {
     margin-left: 30px;
     color: #fff;
     margin-top: 5px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-4{
    display: flex;
    justify-content: center;
    
    
    
}

.card-1{
    
    width: 501px;
    background: rgba(255, 255, 255, 1);
    margin: 20px;
    height: 370px;
  left: 3.5px;
 top: 0px;
 border-radius: 0px;
 padding: 25px 25px 0px 25px;
  margin-top: 30px;
  margin-right: 10px;


}

.img-card-1{
    width: 128px;
    height: 128px;
    margin-left: 140px;
    border-radius: 50px;
    margin-top: 30px;
    
     
    
}

.info-card{
 width: 341px;
  height: 60px;
   color: #737373;
   line-height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    
    
   
}

.star-card{
    
   margin-left: 140px;
   margin-top: 10px;
    
    
}

.title-card{
    width: 105px;
    height: 24px;
    margin-left: 150px;
    margin-top: 10px;
    font-size: 16px;
    
}

.text-card{
    width: 65px;
    height: 24px;
    font-size: 14px;
    color: #737373;
    margin-left: 165px;
    margin-top: 10px;
}


















    















   
